*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryVarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsla(0, 0%, 0%, 0.795);
}
html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  background-color: var(--White);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid var(--LightGrayishBlue);
  width: 100%;
  height: 110px;
}

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.containerMenu {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.containerMenu a {
  display: block;
  height: 100%;
  text-decoration: none;
  line-height: 110px;
  color: var(--GrayishBlue);
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
  padding: 0 0.5rem;
}
.containerMenu a:hover {
  color: var(--VeryVarkBlue);
  border-bottom: 3.5px solid var(--Orange);
}

.containerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  height: 100%;
  width: 8%;
  position: relative;
}
.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.divCard {
  background-color: var(--White);
  box-shadow: 0 5px 10px var(--Black);
  position: absolute;
  border-radius: 7px;
  top: 110px;
  display: flex;
  flex-direction: column;
  width: 20rem;
  right: -4rem;
  height: auto;
  z-index: 999;
}
.elementsCart {
  padding: 1rem;
}
.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.imageProduct {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 5px;
}
.price p,
#priceBase {
  font-size: 0.9rem;
  color: var(--DarkGrayishBlue);
}

#totalPrice {
  color: var(--VeryVarkBlue);
  font-weight: 700;
}
.trash {
  width: 1rem;
  cursor: pointer;
}
.btnCheckout {
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.btnCheckout:hover {
  background-color: var(--PaleOrange);
  color: var(--Orange);
}
.cartName {
  font-size: 1rem;
  color: var(--Black);
  font-weight: 700;
  padding: 1rem;
  border-bottom: 3px solid var(--LightGrayishBlue);
}
.countCart {
  position: absolute;
  top: -0.4rem;
  right: -0.5rem;
  background-color: var(--Orange);
  color: var(--White);
  width: 1.2rem;
  border-radius: 50%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.6rem;
}
.cartEmpty {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyText {
  color: var(--DarkGrayishBlue);
  font-weight: 700;
}
.userContainer {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  cursor: pointer;
}
.userContainer:hover {
  border: 2px solid var(--Orange);
}

.none {
  display: none;
}

/*Main Styles*/

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;
  margin: 5rem auto 0;
}
.leftSide {
  width: 100%;
}
.imageMain {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageMain img {
  width: 80%;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.image {
  width: 18.75%;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
}
.image img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imagesContainer img:hover {
  opacity: 0.5;
}
.active {
  border: 3px solid var(--Orange);
}
.opacityImage {
  opacity: 0.5;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--Black);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrousel {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.close,
.arrowLeft,
.arrowRight {
  position: absolute;
}
.activeModalImg {
  display: block;
  border-radius: 15px;
}
.modal .imagesContainer {
  margin-top: 2rem;
  width: 25%;
}

.close {
  right: 0;
  top: -2rem;
  width: 1.5rem;
  transform: rotate(45deg);
  cursor: pointer;
}

.arrowLeft {
  background-color: var(--White);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -1rem;
  cursor: pointer;
}
.arrowRight {
  right: -1rem;
  background-color: var(--White);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.none {
  display: none;
}

.slide-slides {
  position: relative;
  height: auto;
}

.slider-slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
}

.slider-slide.activeImage {
  visibility: visible;
  opacity: 1;
}
